address {
  all: unset;
}

h1,
h2 {
  margin: 0;
}

.contacts {
  background-color: #1f2833;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 80px;
}

.map_style {
  width: 780px;
  max-width: 780px;
}

.map {
  width: 780px;
  height: 550px;
  background-color: antiquewhite;
}

.card {
  width: 400px;
  height: 550px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 35px;
}

.card__mainHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: bold;
  color: #414141;
}

.card__header {
  font-size: 17px;
  font-weight: bold;
  color: #414141;
}

.card__data {
  justify-content: center;
  font-size: 17px;
  max-width: 300px;
  margin-bottom: 25px;
  color: #414141;
}

.card__data_contact {
  color: #00dece;
  text-decoration: underline;
  font-size: 20px;
  font-weight: medium;
}

.card__data_contact:hover {
  color: #414141;
}

.card__dotesSvg {
  margin-top: 50px;
}

@media screen and (max-width: 970px) {
  .card {
    padding-left: 15px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    justify-content: center;
    flex-direction: column;
    height: 1496px;
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    height: 550px;
    padding-left: 30px;
  }

  .map_style {
    width: 100%;
    height: 650px;
    margin-top: 40px;
  }
}
